extends ./header.jade

block bodyScripts
  script(src='http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js')
  script(src='./js/map.js', type='text/javascript')
  script(src='./js/profile.js', type='text/javascript')
  
block bodyExtraContent
  .container
    .row
      #pictureAndEdit.col-md-3
        img#myProfilePicture.center-block.img-circle.img-responsive(alt='')
      .col-md-1
      .col-md-4
        .row
          h2#name
          h4#username
          span
            strong Phone number:
          span
            p#telephone
          span
            strong Email:
          span
            p#email
          span
            strong Birthday:
          span
            p#birthday
          span
            strong Address:
          span
            p#address
          span
            strong City:
          span
            p#city
          span
            strong State:
          span
            p#state
          span
            strong Zip Code:
          span
            p#zip
          span
            button#newFlightPlan.btn.btn-default(onclick="location.href='../html/plan.html'", type='submit') Create New Flight Plan
          span
            button#editButton.btn.btn-default(onclick="location.href='../html/edit.html'", type='submit') Edit Profile
          span
            button#setInactive.btn.btn-default(type='submit') Set Account Inactive
        // /col
      // /row
      .col-md-4
        .row
          h2#flightplan \n
          h3#flightplan My Flight Plans
          span
            strong Date:
          span 
            p#time
          span
            strong To:
          span 
            p#to
          span
            strong From:
          span 
            p#from
      
          
          
          
